body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: 'Source Sans Pro', sans-serif;
}

.top-bar {
	width: 100%;
	height: 55px;
	z-index: 9999;
	background-color: #fff;
}
.top-bar .row {
	max-width: 950px;
	margin: 0 auto;
}
.top-bar .col:nth-child(2) input {
	width: 220px;
	height: 27px;
	border: 1px solid #dee2e6;
	border-radius: 3px;
}

.top-bar .col:nth-child(2) input::placeholder {
	text-align: center;
}
.top-bar .col:last-child div {
	max-width: 80%;
	margin-left: auto;
}
.top-bar .col:last-child img {
	height: 21px;
}

@media (max-width: 768px) {
	.top-bar .col:nth-child(2) {
		display: none;
	}
	.top-bar .col:last-child div {
		max-width: 100%;
	}
}

.main {
	max-width: 100%;
}
.main .row {
	width: 100%;
	margin: 0;
}

.main .row .col:first-child {
	max-width: 600px;
}
.story {
	position: relative;
	width: 100%;
	height: 115px;
	margin: 55px 0 0px;
	border-right: 1px solid #dee2e6;
	border-left: 1px solid #dee2e6;
	overflow-x: hidden;
}
.story div {

}
.story div img {
	height: 60%;
	border-radius: 50px;
	padding: 2px;
	border: 2px solid #ef2169;
}
.story div p {
	font-size: 14px;
}

#story-btn {
	position: absolute;
	top: 0;
	right: 0;
}
@media (min-width: 576px) {
	.story {
		border: 1px solid #dee2e6;
		margin: 90px 0 30px;
	}
}
.news-feed {
	width: 100%;
}
.news .head {
	height: 60px;
	font-size: 14px;
}
.news .head p {
	margin: 0;
}
.news .head p:first-child {
	font-weight: bold;
}
.news .head img:last-child {
	height: 20px;
}

@media (min-width: 992px) {
	.main .row .col {
	}
}
.new .img {
	max-width: 600px;
	max-height: 750px;
}
.news .reaction {
	height: 40px;
	width: 100%;
	display: flex;
	padding: 0 16px;
	align-items: center;
	margin-top: 5px;
}
.news .reaction img {
	height: 65%;
	margin-right: 18px;
}
.news .reaction img:last-child {
	margin-left: auto;
	margin-right: 0;
}

.list-cmt {
	padding: 0 16px;
}
.cmt p {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}
.cmt span {
	font-weight: normal;
}
.cmt p:nth-of-type(3) {
	font-weight: normal;
	color: #aaa;
}
.cmt p:last-of-type {
	font-size: 11px;
	font-weight: normal;
	color: #aaa;
}
.cmt .write-cmt {
	position: relative;
	display: flex;
	border-top: 1px solid #dee2e6;
	margin-top: 10px;
}
.cmt .write-cmt input {
	padding-left: 16px;
	max-width: 100%;
	height: 55px;
	border: none;
	flex-grow: 1;
}
.cmt .write-cmt input:focus {
	outline: none;
}
.cmt .write-cmt a {
	opacity: .5;
	font-weight: bold;
	align-self: center;
	padding-right: 16px;
}

.side-bar {
	position: sticky;
	top: 110px;
	height: 500px;
	padding: 0;
	margin-left: 30px;
	max-width: 300px;
}
.side-bar .account {
	height: 55px;
}
.side-bar .account img {
	height: 100%;
	border-radius: 50px;
}
.side-bar .account div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;
}
.side-bar .account p {
	margin: 0;
}
.side-bar .account p:first-of-type {
	font-size: 14px;
	font-weight: bold;
}
.side-bar .account p:last-of-type {
	font-size: 13px;
	color: #aaa;
}