

.header {
	width: 100%;
	height: 54px;
	margin: 0;
	background-color: #FFFFFF;
	border-bottom: 1px solid #DBDBDB;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.header .logo-header {
	/*position: absolute;*/
	margin: 0 20px;
	margin-top: 10px;
	position: absolute;
	left: 14%;
}

.header .logo-header img {
	width: 105px;
	height: 100%;
	/*position: absolute;*/
}

.header .search-header input {
	width: 230px;
	height: 23px;
	border: 1px solid #DBDBDB;
	border-radius: 3px;
	outline: none;
	text-align: center;
	background-color: #FAFAFA;
}
.header .search-header {
	position: absolute;
	right: 45%;
}

.header .search-header input::placeholder {
	text-align: center;
	color: #DBDBDB;

}

.header .icon-header {
	display: flex;
	width: 200px;
	/*justify-content: space-between;*/
	align-items: center;
	position: absolute;
	right: 12%;
}

.header .icon-header .icon {
	padding: 0 10px;
}

.header .icon-header .profile-icon img {
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	max-width: 30px;
}

@media (max-width: 500px) {
	.header .search-header {
		display: none;
	}
}